#main-page, #loading-page {
    height: 100vh;
    width: 100vw; 
    max-width: 100%; 
    max-height: 100%; 
}

#main-page {
    background-image: 
    linear-gradient(90deg, pink 50%, rgb(246, 187, 77) 50%)
}

#loading-page {
    background-color:beige;
    text-align: center; 
}

#sip-logo {
    margin-top: 300px; 
}

#title {
    font-family: 'Pacifico', cursive;
    font-size: 125px; 
    text-align: center; 
    color: black;
    padding-top: 15px; 
}

#coffee, #alc {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px; 
    color: white; 
}

#user-input-1 {
    text-align: center; 
    margin-top: 50px; 
}

.navbar {
    height: 60px;
}

#pic-column{
    text-align: center; 
}

#pic-row{
    margin-top: -30px; 
}

#nav-bar {
    height: 50px; 
}