#main-page, #loading-page, #second-user-input-page, #google-maps, #array {
    height: 100vh;
    width: 100vw; 
    max-width: 100%; 
    max-height: 100%; 
}

#main-page {
    background-image: 
    linear-gradient(90deg, pink 50%, rgb(246, 187, 77) 50%)
}

#second-user-input-page {
    background-image: 
    linear-gradient(90deg, rgb(220, 255, 192) 50%, rgb(158, 225, 241) 50%)
}

#loading-page {
    background-color:beige;
    text-align: center; 
}

#address-column {
    text-align: center; 
    margin-top: 30px; 
}

#google-maps {
    background-color: rgb(255, 236, 202); 
}

#sip-logo {
    margin-top: 300px; 
}

#title {
    font-family: 'Pacifico', cursive;
    font-size: 125px; 
    text-align: center; 
    color: black;
    padding-top: 15px; 
}

#title-2 {
    font-family: 'Pacifico', cursive;
    font-size: 70px; 
    text-align: center; 
    color: black;
    padding-top: 40px; 
}

#coffee, #alc, #price, #location {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px; 
    color: white; 
}

#user-input-1 {
    text-align: center; 
    margin-top: 50px; 
}

.navbar {
    height: 60px;
}

#pic-column{
    text-align: center; 
}

#pic-row{
    margin-top: -30px; 
}

#nav-bar {
    height: 50px; 
}

#gm-large {
    border: solid black 3px; 
    text-align: center; 
    margin-top: 50px; 
    height: 500px; 
    width: 1000px; 
}

#gm-row {
    text-align: center; 
}

#result-1 {
    text-align: center; 
}